body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.name-color {
    color: #12B6FB;
}

.font1 {
    font-size: 70px;
    font-weight: bolder;
    color: #575757;
}

.font3 {
    font-size: 30px;
    color: #828282;
    font-weight: lighter;
}

.font2 {
    font-size: 50px;
    font-weight: bolder;
    color: #575757;
}

.order-bg {
    background-image: url(images/shapes/Frame\ 60.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-top: 50px;
}

.half-width img {
    width: 80%;
}

.flexible-container {
    display: flex;
}

.link-margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

#link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient( #A5D4EE, #048BF6);
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 10px 10px 30px #12B6FB;
}

.contact-bg {
    background-image: url(images/shapes/02.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width p {
    width: 70%;
    font-size: 20px;
}

.my-recipies {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
}

.my-recipies p {
    font-size: 20px;
}

.recipie-container {
    margin: 100px 5% 100px 0px;
}

.recipie-title {
    width: 30%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10%;
    padding: 0px 40px 20px 40px;
}

.recipie-title img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.health-container img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-left: 100px;
}

.health-border {
    border-left: 7px solid;
    border-image: linear-gradient( #A5D4EE, #048BF6);
    border-image-slice: 1;
    margin-right: 5%;
}

.social-container {
    box-shadow: 10px 10px 30px rgb(209, 201, 201);
    display: block;
    margin: auto;
    margin: 200px 5% 100px 100px;
    padding: 40px;
    border-radius: 30px;
    display: flex;
}

.social-part {
    width: 20%;
    padding-left: 200px;
}

.social-part h1 {
    font-size: 50px;
    font-weight: bold;
}

.footer-bg {
    background-color: black;
    text-align: center;
    padding: 1px 0px 100px 0px;
}

.footer-bg p {
    color: white;
}

.diet-image {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 50px;
}